QualifoodWebservicesExample/Connected Services/Qualifood.Webservices/DatenDownload1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://Webservices.Qualifood.de/DatenDownload/DatenDownload" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatenDownload" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://Webservices.Qualifood.de/DatenDownload/DatenDownload" location="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Qualifood.WebServices.DataContracts.DatenDownload" />
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Qualifood.WebServices.DataContracts" />
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Qualifood.WebServices.DataContracts.Schlachtdaten" />
      <xsd:import schemaLocation="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatenDownload_GetDatenDownloadUebersicht_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadUebersicht" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_GetDatenDownloadUebersicht_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadUebersichtResponse" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_HalloService_InputMessage">
    <wsdl:part name="parameters" element="tns:HalloService" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_HalloService_OutputMessage">
    <wsdl:part name="parameters" element="tns:HalloServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_GetDatenDownloadSW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadSW" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_GetDatenDownloadSW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadSWResponse" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_GetDatenDownloadGV_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadGV" />
  </wsdl:message>
  <wsdl:message name="IDatenDownload_GetDatenDownloadGV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatenDownloadGVResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatenDownload">
    <wsdl:operation name="GetDatenDownloadUebersicht">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadUebersicht" message="tns:IDatenDownload_GetDatenDownloadUebersicht_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadUebersichtResponse" message="tns:IDatenDownload_GetDatenDownloadUebersicht_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HalloService">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatenDownload/HalloService" message="tns:IDatenDownload_HalloService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatenDownload/HalloServiceResponse" message="tns:IDatenDownload_HalloService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatenDownloadSW">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadSW" message="tns:IDatenDownload_GetDatenDownloadSW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadSWResponse" message="tns:IDatenDownload_GetDatenDownloadSW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatenDownloadGV">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadGV" message="tns:IDatenDownload_GetDatenDownloadGV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatenDownload/GetDatenDownloadGVResponse" message="tns:IDatenDownload_GetDatenDownloadGV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DatenDownload">
    <wsdl:port name="BasicHttpBinding_IDatenDownload" binding="i0:BasicHttpBinding_IDatenDownload">
      <soap:address location="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc" />
    </wsdl:port>
    <wsdl:port name="MetadataExchangeHttpsBinding_IDatenDownload" binding="i0:MetadataExchangeHttpsBinding_IDatenDownload">
      <soap12:address location="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://webservices.qualifood.de/DatenDownload/DatenDownload.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>